@page
@model FplBot.WebApi.Pages.Error

@{
    ViewData["Title"] = "Oops!";
}

<div class="col-6">
    <h1>🚨 Error!</h1>
    <p>@Request.Query["msg"]</p>

    <p>
        Try another <a href="@Url.Action("TriggerChallenge", "Account")">login</a>
    </p>
</div>


