@page
@model FplBot.WebApi.Pages.Forbidden

@{
    ViewData["Title"] = "⚠️ Forbidden";
    var teamId = User.Claims.FirstOrDefault(c => c.Type == "urn:slack:team_id")?.Value;
    var teamName = User.Claims.FirstOrDefault(c => c.Type == "urn:slack:team_name")?.Value;
}

<div class="col-6">
    <h1>⚠️ Forbidden</h1>

    @User.Identity.Name from @teamName does not have access.

    @if(!string.IsNullOrEmpty(teamId))
    {
        <p>
            <a href="@Url.Action("TriggerChallenge", "Account")">Log in using another workspace</a>
        </p>
    }
</div>
