@page
@model FplBot.WebApi.Pages.Index

@{
    ViewData["Title"] = "fplbot";
}

<div class="col-2 mt-3">
    <img src="images/fpl.png" alt="fplbot" width="100" height="100"/>
</div>

<div class="col-12 mt-3">
    <h2>About</h2>
    <div class="mb-3">
        @@fplbot is an unnofficial Slackbot for Fantasy Premier League.
    </div>
    <h4>Features:</h4>
    <ul>
        <li>Posts gameweek events (goals, cards, VAR) during matches</li>
        <li>Notifies about transfer deadlines</li>
        <li>Notifes about transfers, chips used, captains for your league when gameweek starts</li>
        <li>Notifes league standings on gameweek end</li>
    </ul>
</div>

<form id="installform" method="get" action="/oauth/install" class="col-12 mt-5">
    <h2>Install</h2>
    <div class="mb-3 alert alert-info">
        <div class="mb-2">Invite @@fplbot to the channel you register here after you've installed it. It won't be able to notify into the channel unless it's a member of this channel.</div>
        <div>You can find your <code>leagueId</code> by navigating to your league in <a href="https://fantasy.premierleague.com/leagues">fantasy.premierleague.com/leagues</a>. It's in the URL as: <pre>https://fantasy.premierleague.com/leagues/{leagueId}/standings/</pre></div>
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput">Slack channel:</label>
        <input type="text" class="form-control" name="channel" id="channel" placeholder="#test" value="#test">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Fantasy League Id:</label>
        <input type="text" class="form-control" name="leagueId" id="leagueId" placeholder="89903" value="89903">
    </div>
    <div class="form-group">
        <img style="cursor: pointer" alt="Add to Slack" onclick="document.getElementById('installform').submit()" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x">
    </div>
</form>
    





