@page
@model FplBot.WebApi.Pages.Install

@{
    Layout = null;
    var BaseUrl = $"https://slack.com/oauth/authorize?client_id={Model.ClientId}&scope=bot,chat:write:bot";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
    <script>
        let form = document.getElementById("installform");
    
        document.getElementById("installink").addEventListener("click", function () {
          form.submit();
        });
    </script>
</head>
<body>
<div>
    <form id="installform" method="get" action="/oauth/install">
        <input type="text" id="channel" name="channel" value="#test"/>
        <input type="text" id="leagueId" name="leagueId" value="89903"/> 
        <button id="installlink">
            <img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x">
        </button>
    </form>
</div>
</body>
</html>