@page
@model FplBot.WebApi.Pages.SignedOut

@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Signed out";
}

<div class="col-6">
    Signed out. ThxBye.
    <p>
        <a href="@Url.PageLink("admin/index")">Back to admin</a>
    </p>
</div>
