@page
@model FplBot.WebApi.Pages.SignedOut

@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Signed out";
}

Signed out. ThxBye.
<p>
    <a href="@Url.PageLink("admin/index")">Back to admin</a>
</p>
