@page
@model FplBot.WebApi.Pages.Success

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    Thx! Wiring up fplbot for you in a jiffy
</div>
</body>
</html>