@page

@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "fplbot installed";
}

<div class="col-4">
    <h1>✅ Success! </h1>
    <p>
        Wiring up fplbot for you in a jiffy! 
    </p>
</div>


